---
import SocialLink from "./SocialLink.astro";
---

<footer
  class="bg-background flex flex-col w-full items-center justify-center space-y-2"
>
  <section class="flex items-center space-x-2">
    <SocialLink platform="x" username="prashant_hq" />
    <SocialLink platform="github" username="prashantbhudwal" />
  </section>
  <p class="text-foreground">© 2025 - Prashant Bhudwal</p>
</footer>
